body{
  margin:0;
}
#forma{
    background: #62306D;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width:100%;
    height:100%;
  }
  #patr{
    position:absolute;
    width: 100px;
    height: 250px;
    background: #F7EC7D;
    box-shadow:
        100px 100px 0 0 #F7EC7D,
        -100px 100px 0 0 #F7EC7D
    ;
    z-index:-1;
  }
  #c1 {
    width: 60px;
    height: 60px;
    background: #AA445F;
    border-radius: 100%;
    border: 20px solid #E38F66;
    margin-bottom: 200px;
    z-index:1;
  }
  #c2 { 
    width: 60px;
    height: 60px;
    background: #E38F66;
    border-radius: 100%;
    border: 20px solid #AA445F;
    margin-bottom: 100px;
    z-index:1;
  }

  #rand {
    position: absolute;
    margin: 20px 20px;
    width: 100px;
    height: 100px;
    background:red;
  }